/* Start Global */
*{
    padding: 0px;
    margin:0px;
}
body{
    font-family: "Fira Sans"
}
/* End Global */
/* Start Header*/
header{
    width:100%;
    height:60px;
    background-color: white;
    margin:auto;
    position: sticky;
    top:0;
    border-bottom: 2px solid #F6F6F6;
}
nav{
    width:85%;
    margin:auto;
}
header img{
    width:179px;
    height:43px;
    float: left;
    margin-top:10px;
    margin-left:20px;
}
.nav{
    float:right;
    position: relative;
}
header .nav ul{
    list-style: none;   
    margin-top:20px;
    margin-right: 56px;
    color:#CECECE
}
header .nav ul li{
    display: inline;
    margin-right:30px;
}
header .nav ul li span{
    color:#7DB3E3;
}
header .nav img{
    width:32px;
    height:32px;
    position: absolute;
    right:30px;
    top:2px;
}
/* End Header*/
/* Start Picture */
.picture{
    width:100%;
    height:600px;
    background-image:url("Images/medic-1.jpg");
    background-repeat: no-repeat;
    overflow: auto;
}
.pic2{
    width:100%;
    height:100%;
    background-color:#469FE4;
    opacity: .6;
    overflow:hidden;
    
}
.pic3{
   width:500px;
   margin:200px auto;
   text-align: center;
}
.pic3 h1{
    color:#FFF;
    opacity: 1;
    font-size: 50px;
}
.pic3 p{
    margin:30px 0;
    color:#FFF;
    opacity: 1;
    font-size: 19px
}
.pic3 input{
    color:#000;
    font-weight: bold;
    padding:15px 20px;
    background: #FFF;
    border-radius: 10px;
}

/* End Picture */
/* Start Main */
main{
    width:100%;
    height:985px;
}
main .img{
    width:50%;
    height:100%;
    float: left;
}
main .intro{
    width:50%;
    height:100%;
    float: left;
}
main .img img{
    width:590px;
    height:895px;
    margin:90px 0 0 100px;
}
main .intro aside{
    width:590px;
    height:895px;
    margin:285px 0 0 65px;
}    
main .intro aside h2{
    margin-bottom: 40px;
}
main .intro aside p{
    margin-bottom:30px;
    color: #CECECE;
}
main .intro aside ul{
    list-style: none;
    color:#CECECE;
}
main .intro aside ul li{
    margin-bottom: 8px;
}
main .intro aside ul li i{
    color:#FFF;
    background-color:#469FE4;
    width:35px;
    height:35px;
    text-align: center;
    font-size: 24px;
    border-radius: 100%;
    padding:10px;
    margin-right:10px;

}
/* End Main */
/* Start counter */
.counter{
    width:100%;
    height:315px;
    background-color: #F8F8F8;
}
.counter aside{
    width:90%;
    background-color: blue;
    margin:auto;
}
.counter aside section{
    float:left;
    width:25%;
    text-align: center;
    margin-top:80px;
}
.counter aside section i{
    color:#469FE4
}
.counter aside section p{
    color:#7DBBEA;
    font-weight: bold;
}
.counter aside section span{
    color:#CECECE;
    font-weight: bold;
}
/* End counter */
/* Start  Article*/
div.main{
    width:1210px;
    margin:40px auto;
    text-align: center;
    padding: 20px;
}
div.second{
    width:1210px;
    height:500px;
    margin:10px auto;
}
div.last{
    width:100%;
    height:100px;
    margin:10px;
}
div.last article{
    float: left;
    width:30%;
    margin:10px;
}
div.last article section{
    float:left
}
div.last article section.icon{
    width:10%;
    margin-right:15px

}
div.last article section.content{
    width:85%;
}
div.last article section.content h3{
    margin-bottom: 10px;
}
/* End  Article*/
/* Start Happy */
.happy{
    width:100%;
    height:550px;
    background-color: #DDD;
    padding-top:50px;
}
.happy section{
    width:1310px;
    height:270px;
    margin:auto;
}
.happy section article{
    width:620px;
    height:500px;
    float:left;
    margin-top:10px;
    margin-left:30px;
}
.happy section article li{
    margin-top:10px;
}
.happy section article li i{
    color:#469FE4;
}
/* End Happy */
/* Start test */
div.zero{
    width:100%;
    height:500px;
}
div.zero .first{
    width:1240px;
    height:510px;
    margin:50px auto;
}
div.zero .first .sec{
    width:383px;
    margin:auto;
    padding:50px;
    text-align:center
}
div.zero .first .three article{
    width:26%;
    float: left;
    background-color: #F8F8F8;
    margin:20px;
    padding: 20px;

}
div.zero .first .four article{
    width:26%;
    float: left;
    margin:auto;
    margin:20px;
    padding: 20px;
}
/* end test */
/* Start Footer */
footer{
    width:100%;
    padding:40px;
    text-align: center;
    background-color:#469FE4 ;
}
footer h3{
    color:#FFF;
}
footer p{
    color:#CDE5F8;
}
footer button{
    width:127px;
    height:62px;
    text-align: center;
    border:1px solid #FFF;
    background-color:#469FE4 ;
    color:#FFF;
}
/* End Footer */
/* Start Footer2 */
footer.footer{
    width:100%;
    background-color:#456A86 ;
}
footer.footer div{
    width:1250px;
    height:200px;
    margin: 30px auto;
}
footer.footer div article{
    width:23%;
    height:100%;
    float:left;
    margin:10px;
    text-align: left;
}
/* End Footer2 */
footer.end{
    background-color: #3C5B73;
    padding: 10px ;
    text-align: left;
}
footer.end p{
    margin-left:362px;
}
.clearfix{
    clear:both;
}
.position{
    background-color:white;
    width:30px;
    padding:10px;
    position:fixed;
    top:50%;
    right:0;
    border: 2px solid #CCC;
    border-right:0;
}